cluster:
  name: ${CLUSTER_NAME}
  search_path:
    - ../docker-ecs
    - ../docker-ecs/cloud-compose/templates
  logging:
    driver: awslogs
    meta:
      group: /cloud-compose/${CLUSTER_NAME}
  aws:
    ami: ${IMAGE_ID} or ${IMAGE_NAME_TAG}
    instance_policy: '{ "Version": "2012-10-17", "Statement": [ { "Effect": "Allow", "Action": [ "ecs:DeregisterContainerInstance", "ecs:DiscoverPollEndpoint", "ecs:Poll", "ecs:RegisterContainerInstance", "ecs:StartTelemetrySession", "ecs:Submit*", "ecr:GetAuthorizationToken", "ecr:BatchCheckLayerAvailability", "ecr:GetDownloadUrlForLayer", "ecr:BatchGetImage" ], "Resource": "*" }, { "Action": [ "logs:CreateLogGroup", "logs:CreateLogStream", "logs:PutLogEvents" ], "Effect": "Allow", "Resource": "*" } ] }'
    username: ${IMAGE_USERNAME}
    terminate_protection: false
    security_groups:
      - ${SECURITY_GROUP_ID}
    vpc: ${VPC_ID}
    ebs_optimized: false
    instance_type: t2.medium
    keypair: drydock
    volumes:
      - name: root
        size: 30G
      - name: docker
        size: 20G
        block: /dev/xvdz
        file_system: lvm2
        meta:
          group: docker
          volumes:
            - name: data
              size: 19G
            - name: metadata
              size: 900M
    tags:
      datadog: monitored
    asg:
      subnets:
        - ${CLUSTER_SUBNET_0}
        - ${CLUSTER_SUBNET_1}
        - ${CLUSTER_SUBNET_2}
datadog:
  name: ${CLUSTER_NAME}
  notify: 
    - '@slack-arc-platform-ops'
    - '@opsgenie-platform-tools'
  options:
    notify_no_data: true
    no_data_timeframe: 480
  monitors:
    - 
      tag: high-cpu-load
      message: 'The CPU load is too high on server {{host.name}}.'
      name: 'High CPU Load'
      query: 'avg(last_4h):avg:system.cpu.idle{clustername:%(name)s} by {host} < 25'
    -
      tag: low-${VOLUME}-disk-space
      message: 'Running out of ${VOLUME} disk space on server {{host.name}}'
      name: 'Low ${VOLUME} Disk Space'
      query: 'avg(last_1h):avg:system.disk.free{clustername:%(name)s,device:${DEVICE}} by {host} < 10000000000'
    -
      tag: low-docker-data
      message: 'Running low on LVM volume space for Docker data on server {{host.name}}.'
      name: 'Low Docker Data Volume'
      query: 'avg(last_1h):avg:docker.info.data_space_free{clustername:%(name)s} by {host} < 1000000000'
    -
      tag: low-docker-metadata
      message: 'Running low on LVM volume space for Docker metadata on server {{host.name}}.'
      name: 'Low Docker Metadata'
      query: 'avg(last_1h):avg:docker.info.metadata_space_free{clustername:%(name)s} by {host} < 100000000'
    -
      tag: low-usable-memory
      message: 'The usable memory is too low on server {{host.name}}.'
      name: 'Low Usable Memory'
      query: 'avg(last_15m):avg:system.mem.pct_usable{clustername:%(name)s} by {host} < 0.1'




